*{
    font-family: 'Times New Roman', Times, serif;
}
table {
    border: solid;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    text-align: center; /* Centra horizontalmente */
    vertical-align: middle; /* Centra verticalmente */
}

td a {
    display: inline-block; /* Asegura que los enlaces se comporten como elementos en línea pero con capacidad para aplicar márgenes */
    margin: 0 10px; /* Añade margen horizontal entre los enlaces */
}

.desthr {
    border: 0;
    height: 10px;
    visibility: hidden;
}

.logos{
    border: thick black;
    border-radius: 20px;
    width:200px; 
    height:200px;
    border-radius: 2%;
    border: none;
}
.books{
    width:150px; 
    height:200px;
}
.movinglist li:hover{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(8, 4, 29);
    font-weight: bolder;
    text-decoration: none;
}

.main{
    border: 5px double rgb(255, 0, 0);
    text-align: center;
}
.image{
    border: solid black;
    float: left;
    top: 5px;
    left: 5px;
    width: 400px;
    height: 250px;
    position: relative;
    margin-right: 5px;
}
.location{
    position: relative;
    display:inline-block;
}
.flag{
    border: solid black;
    float:right;
    position: relative;
    top: 5px;
    right: 5px;
    width: 200px;
    height: 130px;
    margin-bottom: 15px;
}
#Habilities{
    width: 400px; 
    height: 400px;
}
.centertitle {
    text-align: center; /* Centra el texto horizontalmente */
    margin: 0 auto;     /* Asegura que el título esté centrado dentro de su contenedor */
}
