
#Top{
    background-color: blue;
    border: solid black 10px;
    padding: 20px;
    width: 200px;
    height: 200px;

}
#Mid{
    background-color: red;
    border: solid 20px black;
    position: relative;
    left: 260px;
    width: 200px;
    height: 200px;

}
#Bot{
    background-color: yellow;
    border: solid 10px black;
    position: relative;
    left: 500px;
    width: 200px;
    height: 200px;
}